/* variables */
:root {
  --yellow: #ffa812;
  --blue: #219ebc;
  --text: #121212;
}
/* boilerplate styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BenchNine", sans-serif;
  /* available font sizes: 300, 400, 700 */
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
}
input,
textarea,
button {
  background-color: transparent;
  border: none;
  outline: none;
  &:focus {
    border: none;
    outline: none;
  }
}
a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}
/* Global Styles */
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
/* Hero Section */
.hero-section {
  background: url("./images/skyline.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  padding-top: 60px;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1270px;
    width: 100%;
    margin: auto;
    .logo-section {
      display: flex;
      align-items: center;
      gap: 1rem;
      .logo {
        /* width: 50px; */
        width: 60px;
        img {
          object-fit: contain;
        }
      }
      h1.title {
        color: var(--yellow);
        /* font-size: 24px; */
        font-size: 36px;
        line-height: 130%;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3.6px;
        span {
          letter-spacing: 0;
          font-weight: 300;
        }
      }
    }
    nav {
      width: 330px;
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          a {
            color: var(--blue);
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  section.about {
    text-align: center;
    max-width: 700px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
    padding-top: 330px;
    h1 {
      color: var(--yellow);
      font-size: 89px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    div.flex {
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 4.2px;
      text-transform: uppercase;
      justify-content: center;
      padding: 4px 46px;
      gap: 10px;
    }
    .bio-section {
      font-size: 20px;
      letter-spacing: 1.2px;
      line-height: 34px;
      padding: 124px 0;
    }
  }
  .mobile-nav {
    display: none;
  }
}
main {
  max-width: 969px;
  width: 100%;
  margin: auto;
  padding: 20px 24px;
  .projects-start {
    border-bottom: 3px solid var(--blue);
    width: fit-content;
    margin: auto;
    &.end {
      border-top: 3px solid var(--blue);
      border-bottom: 0;
    }
    p {
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 1.2px;
    }
  }
  .vertical-line {
    height: 465px;
    width: 3px;
    margin: auto;
    background-color: var(--blue);
  }
  .box {
    height: 396px;
    width: 100%;
    border-top: 3px solid var(--blue);
    position: relative;
    &.half {
      width: 50%;
    }
    &.half-right {
      width: 50%;
      margin-left: auto;
    }
    &.left {
      border-left: 3px solid var(--blue);
      text-align: left;
    }
    &.right {
      border-right: 3px solid var(--blue);
      text-align: right;
    }
    .project-preview {
      display: flex;
      align-items: start;
      gap: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      .project-description {
        p.title {
          font-size: 32px;
          font-weight: 700;
        }
        p {
          font-size: 24px;
          font-weight: 400;
          text-transform: uppercase;
        }
      }
      &.zyra {
        left: -67px;
        .project-img {
          width: 130px;
        }
      }
      &.racktrack {
        right: -190px;
        .project-img {
          width: 365px;
        }
      }
      &.zine {
        left: -105px;
        .project-img {
          width: 211px;
        }
      }
      &.winelabel {
        right: -37px;
        .project-img {
          width: 73px;
        }
      }
      &.ferreira-house {
        left: -150px;
        .project-img {
          width: 300px;
        }
      }
      &.mchouse {
        right: -150px;
        .project-img {
          width: 300px;
        }
      }
    }
  }
  .quick-links {
    padding: 90px 0 160px 0;
    justify-content: center;
    gap: 90px;
    .link-box {
      max-width: 200px;
      width: 100%;
      text-align: center;
      p {
        text-transform: uppercase;
        color: var(--blue);
        font-size: 24px;
        margin-bottom: 8px;
        white-space: nowrap;
      }
    }
  }
}
footer {
  background-color: var(--blue);
  padding: 116px 0;
  .container {
    max-width: 1270px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1270px;
    width: 100%;
    margin: auto;
    padding: 0 24px;
    .logo-section {
      display: flex;
      align-items: center;
      gap: 1rem;
      .logo {
        /* width: 50px; */
        width: 60px;
        img {
          object-fit: contain;
        }
      }
      h1.title {
        color: var(--yellow);
        /* font-size: 24px; */
        font-size: 36px;
        line-height: 130%;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3.6px;
        span {
          letter-spacing: 0;
          font-weight: 300;
        }
      }
    }
    nav {
      width: 330px;
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          a {
            color: var(--yellow);
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .hero-section {
    background-size: 1510px 366px;
    background-position: left top;
    padding: 60px 24px 0 24px;
    header {
      .logo-section {
        .logo {
          width: 50px;
        }
        h1.title {
          font-size: 24px;
        }
      }
    }
  }
  main {
    max-width: 385px;
  }
  footer {
    .container {
      .logo-section {
        .logo {
          width: 50px;
        }
        h1.title {
          font-size: 24px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .hero-section {
    background-size: 865px 268px;
    section.about {
      padding-top: 150px;
      h1 {
        font-size: 70px;
        span {
          display: block;
        }
      }
    }
    header {
      nav {
        display: none;
      }
      .mobile-nav {
        display: block;
        i {
          color: var(--blue);
        }
      }
    }
  }
  main {
    max-width: 205px;
    .vertical-line {
      height: 120px;
    }
    .projects-start {
      p {
        white-space: nowrap;
      }
    }
    .box {
      height: 260px;
      &.half-right {
        height: 120px;
      }
      .project-preview {
        .project-description {
          p {
            white-space: nowrap;
          }
        }
        &.zyra {
          left: -47px;
          .project-img {
            width: 90px;
            img {
              object-fit: contain;
              max-height: 100%;
            }
          }
        }
        &.racktrack {
          right: -110px;
          .project-img {
            width: 228px;
          }
        }
        &.zine {
          left: -75px;
          .project-img {
            width: 130px;
          }
        }
        &.ferreira-house {
          left: -96px;
          .project-img {
            width: 160px;
          }
        }
        &.mchouse {
          right: -77px;
          .project-img {
            width: 160px;
          }
        }
        &.winelabel {
          right: -28px;
          .project-img {
            width: 62px;
            height: 200px;
            img {
              object-fit: contain;
              max-height: 100%;
            }
          }
        }
      }
    }
  }
  .quick-links {
    flex-direction: column;
    gap: 32px !important;
    padding-bottom: 50px !important;
  }
  .plus {
    display: none;
  }
  .about {
    .flex {
      flex-direction: column;
    }
  }
  footer {
    padding: 60px 0;
    .container {
      flex-direction: column-reverse;
      gap: 24px;
      nav {
        width: 70%;
      }
    }
  }
}
