/* variables */
:root {
  --yellow: #ffa812;
  --blue: #219ebc;
  --text: #121212;
}
/* boilerplate styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BenchNine", sans-serif;
  /* available font sizes: 300, 400, 700 */
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
}
input,
textarea,
button {
  background-color: transparent;
  border: none;
  outline: none;
  &:focus {
    border: none;
    outline: none;
  }
}
a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}
/* Global Styles */
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
/* Hero Section */
.hero-section {
  background: url("./images/skyline.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  padding-top: 60px;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1270px;
    width: 100%;
    margin: auto;
    .logo-section {
      display: flex;
      align-items: center;
      gap: 1rem;
      .logo {
        /* width: 50px; */
        width: 60px;
        img {
          object-fit: contain;
        }
      }
      h1.title {
        color: var(--yellow);
        /* font-size: 24px; */
        font-size: 36px;
        line-height: 130%;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3.6px;
        span {
          letter-spacing: 0;
          font-weight: 300;
        }
      }
    }
    nav {
      width: 330px;
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          a {
            color: var(--blue);
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  section.about {
    text-align: center;
    max-width: 700px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
    padding-top: 330px;
    h1 {
      color: var(--yellow);
      font-size: 89px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    div.flex {
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 4.2px;
      text-transform: uppercase;
      justify-content: center;
      padding: 4px 46px;
      gap: 10px;
    }
    .bio-section {
      font-size: 20px;
      letter-spacing: 1.2px;
      line-height: 34px;
      padding: 124px 0;
    }
  }
}
main {
  max-width: 969px;
  width: 100%;
  margin: auto;
  padding: 20px 24px;
  .projects-start {
    border-bottom: 3px solid var(--blue);
    width: fit-content;
    margin: auto;
    p {
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 1.2px;
    }
  }
  .vertical-line {
    height: 465px;
    width: 3px;
    margin: auto;
    background-color: var(--blue);
  }
  .box {
    height: 396px;
    width: 100%;
    border-top: 3px solid var(--blue);
    position: relative;
    &.half {
      width: 50%;
    }
    &.half-right{
      width: 50%;
      margin-left: auto;
    }
    &.left {
      border-left: 3px solid var(--blue);
      text-align: left;
    }
    &.right {
      border-right: 3px solid var(--blue);
      text-align: right;
    }
    .project-preview {
      display: flex;
      align-items: start;
      gap: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      .project-description {
        p.title {
          font-size: 32px;
          font-weight: 700;
        }
        p {
          font-size: 24px;
          font-weight: 400;
          text-transform: uppercase;
        }
      }
      &.zyra {
        left: -67px;
        .project-img {
          width: 130px;
        }
      }
      &.racktrack {
        right: -190px;
        .project-img {
          width: 365px;
        }
      }
      &.zine {
        left: -105px;
        .project-img {
          width: 211px;
        }
      }
      &.winelabel {
        right: -37px;
        .project-img {
          width: 73px;
        }
      }
      &.ferreira-house {
        left: -150px;
        .project-img {
          width: 300px;
        }
      }
      &.mchouse {
        right: -150px;
        .project-img {
          width: 300px;
        }
      }
    }
  }
}
